body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:846px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:1414px;
  height:846px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1379px;
  height:180px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:853px;
  width:1379px;
  height:180px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:25px;
  width:64px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:478px;
  width:29px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
